<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- namespace指定该映射文件要实现的接口 -->
<mapper namespace="com.sibyl.sshm.dao.UserDao">
    <select id="findUserById" resultType="com.sibyl.sshm.entity.User" parameterType="int">
        SELECT * FROM user WHERE id = #{id}
    </select>
</mapper>
